# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Large training artifacts


# # Virtual environment
# .venv/
# 
# # Python cache
# __pycache__/
# *.pyc
# 
# # Large training artifacts
